.profile__edit-button {
  background-image: url(../../../images/profile-info-edit-button.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 24px;
  height: 24px;
  display: inline-flex;
  box-sizing: border-box;
  border: 1px solid #fff;
  transition: opacity .2s ease;
  outline: none;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 705px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
  }
}
