.profile {
  max-width: 880px;
  min-width: 242px;
  display: grid;
  align-items: center;
  grid-template-columns: 120px minmax(336px, 1fr) minmax(50px, 150px);
  gap: 0 30px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: #fff;
  margin: 0 auto;
}

@media screen and (max-width: 705px) {
  .profile {
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 26px 0;
    padding-top: 42px;
    padding-bottom: 36px;
  }
}
