.header {
  max-width: 880px;
  min-width: 242px;
  padding-top: 45px;
  min-height: 73px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 0 auto;
}

@media screen and (max-width: 623px) {
  .header {
    padding-top: 28px;
    min-height: 55px;
  }
}
