.popup__close-button {
  box-sizing: border-box;
  background-image: url(../../../images/close-button.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  padding: 0;
  transition: opacity .2s ease;
  outline: none;
  transform: rotate(45deg);
}

.popup__close-button:hover {
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 623px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -23px;
    right: 13px;
  }
}
